# ------------------------------------------------
#  General
# ------------------------------------------------
.env
*.user
*.suo
*.bak
*.tmp
*.log
*.DS_Store
*.swp

# ------------------------------------------------
#  Visual Studio
# ------------------------------------------------
.vs/
.vscode/
*.dbmdl
*.psess
*.vsp
*.vspx
*.sdf
*.cache
*.ncb
*.opendb

# ------------------------------------------------
#  .NET Core / SDK / Build
# ------------------------------------------------
bin/
obj/
TestResults/
*.nuspec
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# ------------------------------------------------
#  AWS Toolkit & Lambda
# ------------------------------------------------
.aws-sam/
template-*.json
cloudformation-template-*.json

# ------------------------------------------------
#  GitHub-specific
# ------------------------------------------------
.github/*.log
.github/*.tmp

# ------------------------------------------------
#  Misc
# ------------------------------------------------
*.Publish.xml
*.orig
*.rej
*.pdb
